body {
    margin: 0;
    padding: 0;
}
ul, li, span {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.sitebar__icon {
    fill: #3047c7;
   }
// .app {
//     display: flex; 
//     flex-direction: column;
// }
.heading__main {
    margin-top: 50px;
    width: 632px;
    max-width: 632px;
    color: white;
}